header {
    padding: 20px;
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
}

body {
    margin: auto;
    width: 960px;
    background-image: url(../img/pink_sunset.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: thistle;
    font-size: 18px;
}

h2 {
    font-size: 25px;
    font-style: bold;
}

div {
    border: 10px royalblue;
}

ul {
    list-style-type: square;
    list-style-position: inside;
}

ol {
    list-style-type: lower-roman;
    list-style-position: inside;
}

img {
    float: right;
    width: 200px;
}