body {
    background-color: bisque;
    width: 960px;
    margin: auto;
    border: 1px solid black; 
}

ul {
    list-style-type: square;
    list-style-position: inside;
}

ol {
    list-style-type: lower-roman;
    list-style-position: inside;
}