header {
    padding: 20px;
    text-align: center;
    font-size: 50px;
    color: #2734F0;
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: auto;
    width: 960px;
    background-image: url(../img/pink_sunset.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: thistle;
    font-size: 18px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2 {
    color: #2734F0;
    font-size: 25px;
    font-style: bold;
    text-decoration: underline;
}

ul {
    list-style-type: square;
    list-style-position: inside;
}

ol {
    list-style-type: upper-roman;
}

img {
    float: right;
    width: 200px;
}